body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.hihi{
    color: black;
}
span{
    color: orange;
}
.flexible-containers{
    display: flex;
    margin: 5px;
    padding: 5px;
    margin-bottom: 50px;
}
p{
    font-style: bold;
}
.hehe{
    width: 50%;
    padding: %;
    margin:0%;
}
.hehe img{
    width: 80%;
    margin-top:%;
    
}

.link-button{
    text-decoration: none;
    background-color: rgb(121, 52, 7);
    padding: 10px  40px;
    border-radius: 10px;
    color: darkgray;
    font-weight: 600;
}
.top-banner
    {background-image: url(images/tp.png);
    background-repeat: no-repeat;
}
.flexible-containers
    {
     display: flex;   
     padding: 5px;
     margin: 5px;
     background-image: url();
    }
h1
    {
     font-size: 50;
     color: brown;
    }
h2
    {
    font-size: 30;


    }
span{
    color:cadetblue;
}
.cutting{
    width:50% ;
    padding:4% ;
    margin: 2%;
}
.cutting img{
    width: 80%;

}
.koria{
    width: 50%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.width-50{
    width: 50%;

}